S3method("blockdim<-",default)
S3method(blockdim,blockmatrix)
S3method(blockdim,blockvector)
S3method(blockdim,default)
S3method(describe,blockmatrix)
S3method(describe,blockvector)
S3method(describe,data.frame)
S3method(describe,default)
S3method(describe,matrix)
S3method(dims,blockdimension)
S3method(dims,blockmatrix)
S3method(dims,blockvector)
S3method(dims,default)
S3method(get_block,blockmatrix)
S3method(get_block,blockvector)
S3method(get_block,default)
S3method(hadamard_hadamard,blockmatrix)
S3method(hadamard_hadamard,default)
S3method(hadamard_scalar,default)
S3method(hadamard_scalar,matrix)
S3method(hadamard_usual,blockmatrix)
S3method(hadamard_usual,default)
S3method(ord,blockdimension)
S3method(ord,blockmatrix)
S3method(ord,blockvector)
S3method(ord,default)
S3method(outerprod,blockmatrix)
S3method(outerprod,blockvector)
S3method(outerprod,default)
S3method(outerprod,matrix)
S3method(outerprod,numeric)
S3method(parts,blockdimension)
S3method(parts,blockmatrix)
S3method(parts,blockvector)
S3method(parts,default)
S3method(print,blockmatrix)
S3method(print,blockvector)
S3method(reveal,blockmatrix)
S3method(reveal,blockvector)
S3method(reveal,default)
S3method(scalar_hadamard,default)
S3method(scalar_hadamard,matrix)
S3method(scalar_scalar,default)
S3method(scalar_scalar,matrix)
S3method(scalar_scalar,numeric)
S3method(scalar_usual,default)
S3method(scalar_usual,matrix)
S3method(separate,blockmatrix)
S3method(separate,blockvector)
S3method(separate,default)
S3method(t,blockmatrix)
S3method(usual_hadamard,blockmatrix)
S3method(usual_hadamard,default)
S3method(usual_usual,blockmatrix)
S3method(usual_usual,blockvector)
S3method(usual_usual,default)
export("%*o%")
export("%hh%")
export("%hs%")
export("%hu%")
export("%sh%")
export("%ss%")
export("%su%")
export("%uh%")
export("%uu%")
export("blockdim<-")
export(as.blockmatrix)
export(as.blockvector)
export(as.bmatrix)
export(as.bvector)
export(bcol)
export(bdiag)
export(bdim)
export(blockdiag)
export(blockdim)
export(blockdimension)
export(blockmatrix)
export(blockvector)
export(brow)
export(bvnorm)
export(colblock)
export(colparts)
export(cparts)
export(describe)
export(dims)
export(get_block)
export(get_col_names)
export(get_diag)
export(get_dim_names)
export(get_row_names)
export(is.blockmatrix)
export(is.blockvector)
export(is.bmatrix)
export(is.bvector)
export(is.colblock)
export(is.megablock)
export(is.multiblock)
export(is.oneblock)
export(is.rowblock)
export(nblocks)
export(ord)
export(parts)
export(reveal)
export(rowblock)
export(rowparts)
export(rparts)
export(same_blockdim)
export(same_dims)
export(same_nblocks)
export(same_parts)
export(separate)
exportClasses(blockdimension)
exportMethods(show)
import(turner)
